body {
    background-color: whitesmoke;
  }
  
.navbar-inverse {
    background-color: black;
    border: none;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}
  
.menu-item {
    color: white;
}
  

.content-box {
    background-color: skyblue;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.menu_heading {
    font-size: 69px;
    font-weight: bold;
}
  
.item-name {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
  
